.flex-container {
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;  
	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;


	.flex-container__item--1{
		width: calc(100% / 1);
		padding: 15px 10px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex !important;
	}

	.flex-container__item {
		width: calc(100% / 1);
		padding: 15px 10px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		// @media screen and (min-width: 30em) {
		// 	padding: 20px 100px;        	
		// }

		@media #{$medium} {
			width: calc(100% / 3);
		}

		@media #{$mobile} {
			padding: 20px 0;
			width: calc(100% / 1);
		}

		.c-card {
			width: 100%;
		}
	}
	
	.flex-container__item--2 {
		width: 100%;
		padding: 20px 0;
		display: -webkit-flex !important;
		display: -ms-flexbox !important;
		display: flex !important;
		width: calc(100% / 2);
		
	}

	.flex-container__item--3 {
		width: 100%;
		padding: 20px 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		@media #{$large} {
			padding: 20px;
			width: calc(100% / 2);
		}

		@media #{$wide} {
			padding: 20px 20px;
			width: calc(100% / 3);
		}

		.partner-list__item {
			margin: 0 auto;
		}
	}

	.flex-container__item--4 {
		width: 100%;
		padding: 20px 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		@media #{$medium} {
			padding: 20px;
			width: calc(100% / 2);
		}

		@media #{$large} {
			padding: 20px 20px;
			width: calc(100% / 4);
		}

		.partner-list__item {
			margin: 0 auto;
		}
	}
}

ul.flex-container {
	margin: 0;
	padding: 0;
	@media #{$mobile} {
		justify-content: center;
	}
}
