.why-us {
    &--item {
        display: flex;
        align-items: center;

        img {
            margin-right: 0.5em;
            flex-shrink: 0;
        }

        p {
            color: #000000;
        }
    }


    @media #{$mobile}{
        &--item {
            flex-direction: column;
            padding: 0 1em;
            
            img {
                margin-right: 0;
            }

            p {
                margin: -2em 0 0 0;
            }
        }
    }
}